/*
    common
================================*/

.pc_only {
    display: block;
}
.sp_only {
    display: none;
}

@media (max-width: 576px) {
    .pc_only {
        display: none;
    }
    .sp_only {
        display: block;
    }
}



/*
    main_visual
================================*/

.header{
    position: relative;
}

.main_visual {
    color: #fff;
    height: 100vh;
    padding: 268px 0;
    background-image: url("../images/about/main_visual@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 99;
}

@media (max-width: 576px) {
    .main_visual{
        height: 82vh;
        background-image: url("../images/about/main_visual_sp@2x.png");
    }
}
.main_visual::after {
    display: block;
    content: "";
    width: 100%;
    height: 108px;
    background-image: url("../images/about/main_visual_triangle@2x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: -108px;
    z-index: 99;
}

@media (max-width: 576px) {
    .main_visual::after {
        height: 108px;
        background-image: url("../images/about/main_visual_triangle_sp@2x.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        bottom: -103px;
    }
}

.main_lead {
    max-width: 900px;
    width:95%;
    margin: 0 auto;
    text-align: center;
}

.main_lead_text1 {
    margin: 0;
    font-size: 60px;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .main_lead_text1 {
        font-size: 26px;
    }
}
.main_lead_text2 {
    margin: 24px 0 0 0;
    font-size: 20px;
    line-height: 2;
}

@media (max-width: 768px) {
    .main_lead_text2 {
        font-size: 13px;
        line-height: 1.6;
    }
}

.scroll-down {
    width: 117px;
    position: absolute;
    bottom: -108px;
    right: 46%;
    z-index: 999;
    padding-bottom: 70px;
    text-align: center;
    letter-spacing: 0.2em;
}
.scroll-down span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .scroll-down {
        bottom: -52px;
        right: 35%;
    }
}
    
.btn:hover {
    font-weight: bold;
}

/*
    lead
================================*/

.lead{
    margin: 310px 0 0 0;
    color:#333333;

}

@media (max-width: 768px) {
    .lead{
        margin: 160px 0 0 0;
    }
}

.lead_bg{
    background-image: url("../images/about/lead_bg@2x.png");
    background-size: 100%;
}

.lead1_image_bgcolor{
    text-align: right;
    background-color: #C63D33;
    margin: 0 auto 0 0;
    padding:5px 5px 5px 50px;
    max-width: 683px;
    max-height: 410px;
}
@media (max-width: 768px) { 
    .lead1_image_bgcolor{
        width: 100%;
        
    }
}
@media (max-width: 576px) {
    .lead1_image_bgcolor{

    }
}

.lead1_image{
    max-width: 578px;
}
@media (max-width: 768px) { 
    .lead1_image{
        width: 100%;
        
    }
}
 @media (max-width: 576px) { 
    .lead1_image{
      
    }
 }

.lead_title{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W7);
    font-weight: 700;
    line-height: 1.66;
    font-size: 30px !important;
}
@media (max-width: 768px) { 
    .lead_title{
        
        
    }
 }
 @media (max-width: 576px) { 
    .lead_title{
        font-size: 29px !important;
    }
 }

.lead1_containar{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) { 
    .lead1_containar{
        display: block;
        
    }
 }
 @media (max-width: 576px) { 
    .lead1_containar{
        display: block;
        
    }
 }

.lead1_content{
    width: 465px;
    margin:20px 98px 70px 0;
}
@media (max-width: 768px) { 
    .lead1_content{
        display: block;
        width: 90%;
        margin: 20px 0px 70px 95px;
    }
 }
 @media (max-width: 576px) { 
    .lead1_content{
        display: block;
        width: 90%;
        margin: 20px 20px 70px;
    }
 }

.lead1_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
}
@media (max-width: 768px) { 
    .lead1_text{
        font-size: 15px !important;
    }
 }
 @media (max-width: 576px) { 
    .lead1_text{
        font-size: 15px !important;
    }
 }

.lead2_containar{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) { 
    .lead2_containar{
        display: block;
        display: flex;
        flex-flow: row wrap;
    }
 }
 @media (max-width: 576px) { 
    .lead2_containar{
        display: block;
        display: flex;
        flex-flow: row wrap;

    }
 }

.lead2_content{
    width: 465px;
    margin:20px 0 70px 98px;
}
@media (max-width: 768px) { 
    .lead2_content{
        display: block;
        margin: 20px 60px 70px 110px;
        order: 2;   
    }
 }
 @media (max-width: 576px) { 
    .lead2_content{
        display: block;
        margin: 20px 20px 70px;
        order: 2;
    }
 }

.lead2_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
}
@media (max-width: 768px) { 
    .lead2_text{
        
        font-size: 15px !important;
    }
 }
 @media (max-width: 576px) { 
    .lead2_text{
        
        font-size: 15px !important;
    }
 }

.lead2_image_bgcolor{
    background-color: #C63D33;
    margin: 0 0 0 auto;
    padding:5px 50px 5px 5px;
    max-width: 683px;
    max-height: 410px;
}
@media (max-width: 768px) {
    .lead2_image_bgcolor{
        width: 100%;
        order: 1;
    }
}
 @media (max-width: 576px) {
    .lead2_image_bgcolor{
        order: 1;
    }
 }

.lead2_image{
    max-width: 578px;
}
@media (max-width: 768px) { 
    .lead2_image{
        width: 100%;
        
    }
}
@media (max-width: 576px) {
    .lead2_image{

    }
}

.lead3_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
    text-align:  center ;
    margin: 80px 0 0 0;
}

@media (max-width: 576px) {
    .lead3_text{
        width: 90%;
        margin: 20px auto 0;
    }
}

@media (max-width: 768px) { 
    .logo_image{
        width: 100%;
        order: 1;
    }
}
@media (max-width: 576px) {
    .logo_image{
        order: 1;
    }
}

/*
    logo
================================*/

.logo{
    margin: 80px 0 0 0;
}

@media (max-width: 576px) {
    .logo{
        margin: 20px 0 0 0;
    }
}

.logoArea{
    max-width: 1383px;
    width: 100%;
    margin:0 auto;
}

.logoArea img{
    width: 100%;
}

/*
    club
================================*/

.club{
    width: 100%;
    min-width: 1200px;
    margin: 220px auto 0;
    background-image: url("../images/about/club/club-bg@2x.jpg");
    background-size: 100%;
}

@media (max-width: 768px) { 
    .club{
        min-width: 100%;
    }
}
 @media (max-width: 576px) { 
    .club{
        min-width: 100%;
    }
 }

.club h2{
    color: #fff;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.club-text {
    color: #fff;
    width: 718px;
    font-size: 16px;
    margin: 40px auto 80px;
    text-align: center; 
    line-height: 40px;
}
@media (max-width: 768px) {
    .club-text {
        width: 100%;
        margin: 40px auto;
        text-align: left;
    }
}

.club-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
@media (max-width: 768px) { 
    .club-container{
        max-width: 768px;
        width: 90%;
        margin: 0;
        order: 1;
    }
}
 @media (max-width: 576px) { 
    .club-container{
        max-width: 576px;
        width: 90%;
        margin: 0 auto;
        order: 1;  
    }
 }

.club-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 768px) { 
    .club-list{
        width: 280px;
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    .club-list{
        width: 280px;
        margin: 0 auto;
    }
}
.club-item{
    width: 280px;
}
@media (max-width: 768px) {
    .club-item{

    }
}
@media (max-width: 576px) {
    .club-item{
        margin: 60px 0 0 0;
    }
    .club-item:nth-of-type(1){
        margin: 0;
    }
}

.club-item:nth-of-type(n+5){
    margin: 56px 0 0 0;
}
.club-card{
    background-color: #fff;
    border-color:#FFFFFF;
    border-width: 2px;
    border-style: solid;
}
.club-photo{
    width:100%;
}
.club-info{
    padding: 25px;
}
.club-info h3{
    font-size: 20px;
    min-height: 20px;
}
.club-info p{
    width: 235px;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding:16px 0 0;
    letter-spacing: 0.02em;
    line-height: 21px;
    min-height: 100px;
}
.club-button{
    margin: 36px 0 0 0;
    text-align: center;
}
.club-btn{
    width: 144px;
    padding: 16px 40px;
    border: 1px solid #C63D33;
    background-color: #fff;
    border-radius: 26px;
    text-decoration: none;
    color: #C63D33;
}
.club-btn:hover{
    border: 1px solid #fff;
    background-color: #C63D33;
    color: #fff;
}

/*
    footer
================================*/

.footer{
    width: 100%;
    height: 142px;
    padding: 40px 0 80px;
    background-color: #fff;
}
@media (max-width: 576px) {
    .footer{
        height: 100%;
    }
}
.scroll-button{
    width: 25px;
    height: 28px;
    margin: 40px auto 0;
}
.scroll-btn{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #C63D33;
}
.scroll-btn h3{
    width: 25px;
    height: 15px;
    margin: 0 auto;
}
.scroll-btn p{
    width: 25px;
    height: 15px;
    margin: 0 auto;
}

.footer-text{
    margin: 40px 0;
    text-align: center;
    line-height: 1.2;
}
.button_top{
    width: 24px;
    display: block;
    margin: 0 auto;
}
.button_top img{
    width: 100%;
}