/***********
  matsujun
************/


body {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.header{

}

.header::after {
    display: block;
    width: 100%;
    height: 50px;
    background-image: url("../images/about/main_visual_triangle@2x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: -50px;
    z-index: 99;
}

.main_visual {
    color: #fff;
    height: 100vh;
    padding: 268px 0;
    background-image: url("../images/about/main_visual@2x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 99;
}

.main_lead {
    max-width: 900px;
    width:95%;
    margin: 0 auto;
    text-align: center;
}

.main_lead_text1 {
    margin: 0;
    font-size: 60px;
    line-height: 1.4;
}

.main_lead_text2 {
    margin: 24px 0 0 0;
    font-size: 20px;
    line-height: 2;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 45%;
    right: 45%;
    font-size: 20px;
    text-align: center;
    transform: translate(-2%,0);
}
    
.btn:hover {
    font-weight: bold;
}

/***********
  atsushi
************/

/*
    lead
================================*/
.lead{
    margin: 80px 0 0 0;
    color:#333333;

}
/*
    lead_bg
================================*/
.lead_bg{
    background-image: url("../images/about/lead_bg@2x.png");
    background-size: 100%;
}
/*
    lead1_image_bgcolor
================================*/
.lead1_image_bgcolor{
    text-align: right;
    background-color: #C63D33;
    margin: 0 auto 0 0;
    padding:5px 5px 5px 50px;
    max-width: 683px;
    max-height: 410px;
}
@media (max-width: 768px) { 
    .lead1_image_bgcolor{
        width: 100%;
        
    }
}
 @media (max-width: 576px) { 
    .lead1_image_bgcolor{
      
    }
 }

/*
    lead1_image
================================*/
.lead1_image{
    max-width: 578px;
}
@media (max-width: 768px) { 
    .lead1_image{
        width: 100%;
        
    }
}
 @media (max-width: 576px) { 
    .lead1_image{
      
    }
 }

/*
    H1
================================*/
.lead_title{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W7);
    font-weight: 700;
    line-height: 1.66;
    font-size: 30px !important;
}
@media (max-width: 768px) { 
    .lead_title{
        
        
    }
 }
 @media (max-width: 576px) { 
    .lead_title{
        font-size: 29px !important;
    }
 }
/*
    lead1_containar
================================*/
.lead1_containar{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) { 
    .lead1_containar{
        display: block;
        
    }
 }
 @media (max-width: 576px) { 
    .lead1_containar{
        display: block;
        
    }
 }
/*
    lead1_contant
================================*/
.lead1_content{
    margin:20px 50px 70px 0;
}
@media (max-width: 768px) { 
    .lead1_content{
        display: block;
        margin: 20px 0px 70px 95px;
    }
 }
 @media (max-width: 576px) { 
    .lead1_content{
        display: block;
        margin: 20px 0px 70px 45px;
    }
 }
/*
    lead1_text
================================*/
.lead1_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
}
@media (max-width: 768px) { 
    .lead1_text{
        
        font-size: 15px !important;
    }
 }
 @media (max-width: 576px) { 
    .lead1_text{
        
        font-size: 15px !important;
    }
 }

/*
    lead2_containar
================================*/
.lead2_containar{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) { 
    .lead2_containar{
        display: block;
        display: flex;
        flex-flow: row wrap;
    }
 }
 @media (max-width: 576px) { 
    .lead2_containar{
        display: block;
        display: flex;
        flex-flow: row wrap;

    }
 }

/*
    lead2_contant
================================*/
.lead2_content{
    margin:20px 0 70px 50px;
}
@media (max-width: 768px) { 
    .lead2_content{
        display: block;
        margin: 20px 60px 70px 110px;
        order: 2;   
    }
 }
 @media (max-width: 576px) { 
    .lead2_content{
        display: block;
        margin: 20px 45px 70px 10px;
        order: 2;
    }
 }

/*
    lead2_text
================================*/
.lead2_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
}
@media (max-width: 768px) { 
    .lead2_text{
        
        font-size: 15px !important;
    }
 }
 @media (max-width: 576px) { 
    .lead2_text{
        
        font-size: 15px !important;
    }
 }


/*
    lead2_image_bgcolor
================================*/
.lead2_image_bgcolor{
    background-color: #C63D33;
    margin: 0 0 0 auto;
    padding:5px 50px 5px 5px;
    max-width: 683px;
    max-height: 410px;
}
    @media (max-width: 768px) { 
        .lead2_image_bgcolor{
            width: 100%;
            order: 1;
        }
    }
     @media (max-width: 576px) { 
        .lead2_image_bgcolor{
            order: 1;  
        }
     }


/*
    lead2_image
================================*/
.lead2_image{
    max-width: 578px;
}
@media (max-width: 768px) { 
    .lead2_image{
        width: 100%;
        
    }
}
 @media (max-width: 576px) { 
    .lead2_image{
    
    }
 }

/*
    lead3_text
================================*/

.lead3_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
    text-align:  center ;
}

/***********
  igaken
************/

.club{
    width: 100%;
    min-width: 1200px;
    margin: 220px auto 0;
    background-image: url("../images/about/club/club-bg@2x.jpg");
    background-size: 100%;
}

.club h2{
    color: #fff;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.club-text {
    color: #fff;
    width: 718px;
    height: 56px;
    font-size: 16px;
    margin: 40px auto 80px;
    text-align: center; 
    line-height: 40px;
}

.club-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
.club-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.club-item{
    width: 280px;
}
.club-item:nth-of-type(n+5){
    margin: 56px 0 0 0;
}
.club-card{
    background-color: #fff;
}
.club-info{
    padding: 25px;
}
.club-info h3{
    font-size: 20px;
    min-height: 20px;
}
.club-info p{
    width: 235px;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding:16px 0 0;
    letter-spacing: 0.02em;
    line-height: 21px;
    min-height: 100px;
}
.club-button{
    margin: 36px 0 0 0;
    text-align: center;
}
.club-btn{
    width: 144px;
    padding: 16px 40px;
    border: 1px solid #C63D33;
    background-color: #fff;
    border-radius: 25px;
    text-decoration: none;
    color: #C63D33;
}
.club-btn:hover{
    border: 1px solid #fff;
    background-color: #C63D33;
    color: #fff;
}
.footer{
    width: 100%;
    height: 142px;
    background-color: #fff;
}
.scroll-button{
    width: 25px;
    height: 28px;
    margin: 40px auto 0;
}
.scroll-btn{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #C63D33;
}
.scroll-btn h3{
    width: 25px;
    height: 15px;
    margin: 0 auto;
}
.scroll-btn p{
    width: 25px;
    height: 15px;
    margin: 0 auto;
}
/***********
  kakeshita
************/

.logo{
    margin: 80px 0 0 0;
}
.logo figure{
    max-width: 1383px;
    width: 100%;
    margin:0 auto;
}
.footer{
    padding: 40px 0 80px;
    background-color: #fff;
}
.footer-text{
    margin: 40px 0;
    text-align: center;
}
.button_top{
    width: 24px;
    display: block;
    margin: 0 auto;
}
.button_top img{
    width: 100%;
}