/*
    lead
================================*/
.lead{
    color:#333333;
    
}
/*
    lead_bg
================================*/
.lead_bg{
    background-image: url("lead_bg@2x.png");
    background-size: 100%;
}
/*
    lead1_image_bgcolor
================================*/
.lead1_image_bgcolor{
text-align: right;
background-color: #C63D33;
margin: 0 auto 0 0;
padding:5px 5px 5px 50px;
width: 683px; 
height: 406px;
max-height: 410px;
}

/*
    lead1_image
================================*/
.lead1_image{
    width: 578px; 
    height: 396px;
}

/*
    H1
================================*/
H1{
font-family:"Hiragino Sans";
src: local(HiraginoSans-W7);
font-weight: 700;
line-height: 1.66;
font-size: 30px !important;
}

/*
    lead1_containar
================================*/
.lead1_containar{
    display: flex;
    justify-content: space-around;
}

/*
    lead1_contant
================================*/
.lead1_content{
    margin:20px 110px 70px 0;
}
/*
    lead1_text
================================*/
p.lead1_text{   
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
    }

/*
    lead2_containar
================================*/
.lead2_containar{
    display: flex;
    justify-content: space-around;
}
/*
    lead2_contant
================================*/
.lead2_content{
    margin:20px 0 70px 100px;
}

/*
    lead2_text
================================*/
.lead2_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
}

/*
    lead2_image_bgcolor
================================*/
.lead2_image_bgcolor{
    background-color: #C63D33;
    margin: 0 0 0 auto;
    padding:5px 50px 5px 5px;
    width: 683px; 
    height: 406px;
    max-height: 410px;
    }
    

/*
    lead2_image
================================*/
.lead2_image{
    width: 578px; 
    height: 396px;
}

/*
    lead3_text
================================*/

.lead3_text{
    font-family:"Hiragino Sans";
    src: local(HiraginoSans-W5);
    font-weight: 500;
    line-height: 2.5;
    font-size: 16px !important;
    text-align:  center ; 
    }